:root {
    --gray: #e5e2d2;
    --white: #2e2e2e;
}

html,
body {
    margin: 0;
    background: var(--gray);
    color: var(--white);
    font-family: monospace;
    overflow-x: hidden;
    height: 100%;
}

a {
    color: inherit;
    font-style: normal;
    text-decoration: none;
}

h1,
h2 {
    font-weight: 100;
    font-style: normal;
    color: var(--white);
}

#mainTitle {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
    font-size: 4rem;
    z-index: 11;
}

.fallingEmoji {
    position: absolute;
    font-size: 40px;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    will-change: transform;
}

.projectBox .smallText {
    opacity: 0%;
    transition: opacity 0.3s ease;
}

.projectBox:hover .smallText {
    opacity: 50%;
}

.smallText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    margin: 0;
}

.preventSelect {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.contactMe {
    margin: 0;
    text-align: center;
    font-size: 2rem;
}

@media only screen and (max-width: 600px) {
    #mainTitle {
        font-size: 3rem;
    }

    .projectBox {
        font-size: 1.5rem;
        min-width: 20rem;
    }

    .fallingEmoji {
        font-size: 20px;
    }
}